HTTP Basic authentication header example seems wrong.

https://github.com/bluesky-social/atproto-website/blob/main/content/specs/xrpc.md#admin-token-temporary-specification says `Authorization` header would be `Basic admin:c2VjcmV0LXRva2Vu` where the username is "admin" and the password is "secret-token".

On the other hand, [RFC 7617 Section 2](https://datatracker.ietf.org/doc/html/rfc7617#section-2) says Base64-encoding must be done after concatenating the user-id, a single colon (":") character, and the password.
That means `Authorization` header would be `Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==` where the username is "Aladdin" and password "open sesame".

For example, [cURL](https://curl.se/) adopts the latter.
Is the description in 'content/specs/xrpc.md' a documentation error?

I think you are probably correct, this is a bug in the specs document and not how HTTP Basic auth works, and not what the reference implementation does.

Thanks for reporting this!