specs: allow digits in DID method

Allowing digits does seem to be correct upstream:
https://www.w3.org/TR/did-core/#did-syntax

and there are methods like did:3 and did:web7 which use them:
https://w3c.github.io/did-spec-registries/#did-methods

As part of this change we should:

- [ ] update the specs and examples
- [ ] update the shared interop test vectors
- [ ] update golang SDK (indigo)
- [ ] update typescript SDK (atproto)
- [ ] dev comms to other promoted SDK maintainers

Feels like a bit of a bummer that they allow this as it visually blurs with host:port style syntax, but I guess the required second colon disambiguates.

cc: @matthieusieben

what I meant was the kind of visual/superficial confusion between:

```
https://did:8080/app.bsky.feed.post/abc123
at://did:80:80/app.bsky.feed.post/abc123
```

I think it is a tiny bit less confusing if it had to be:

```
at://did:eighty:80/app.bsky.feed.post/abc123
```

Here are my thoughts on "digits in DID method" as of April 2026:

- there is still not much ridding on this in practice, because there are only two DID methods actually supported in the ecosystem (`did:web` and `did:plc`), and neither of them have digits. there is non-zero value to having the syntax spec be clear for future evolution/extension, but it isn't a big priority (compared to other protocol clarifications and features)
- a bigger problem is that we now have an IETF working group and want to formalize the AT URI syntax, but DIDs in the "authority" section of a generic URI don't meet the current RFC 3986 ABNF grammar, or the WHATWG URL syntax. We either need to change the AT URI syntax (very hard at this point), or make an argument that the generic URI syntax should be more flexible (also very hard). there is a small but non-zero chance that not allowing a leading digit after the `did:` syntax might make standards body negotiations easier. to me, that is enough reason to leave this strategically ambiguous
- on the other hand, I guess we could update the atproto DID syntax rules for now, and then revert it later if it helps in broader syntax negotiations, and this wouldn't really matter because it would not break/disrupt much in practice? but that feels pretty messy

And my thoughts on percent-encoding/hex-encoding in DIDs:

* on vibes, I think it would be better for the spec, implementations, and ecosystem if we changed the spec and disallowed percent-encoding in DIDs when used in atproto
* the only legit place that percent-encoding is currently used is escaping the port separator (colon) in `did:web` local testing identifiers, and only with `localhost`. I think we could find other ways to support local testing: mocks, `.local` hostnames, etc
* allowing percent-encoding opens up a bunch of implementation annoyances. for example, inconsistent encoding between implementations can result in multiple strings all representing the same identifier, resulting in duplicate database rows, broken equality checks, and more. in atproto DIDs get encoded and embedded in many places (HTTP query params, OAuth scope permission strings, inside AT URIs, etc), so this is a real concern
* the same issue about AT URI syntax validity mentioned above applies to percent-encoding with DIDs. eg, one possible resolution to the syntax issue would be to percent-encode DIDs when they appear in AT URIs; if DIDs support encoding as well, there could be multiple levels of encoding, which would be a total pain

If we do keep percent encoding, it isn't clear to me that the digits have to be upper-case. All the other docs reference RFC 3989 Section 2.1, which reads:

> The uppercase hexadecimal digits 'A' through 'F' are equivalent to the lowercase digits 'a' through 'f', respectively.  If two URIs   differ only in the case of hexadecimal digits used in percent-encoded    octets, they are equivalent.  For consistency, URI producers and   normalizers should use uppercase hexadecimal digits for all percent-encodings.

The "should" in the last sentence is a "SHOULD" in the IETF sense, not a "MUST".

As a practical implementation/performance thing, i'd like to not have to validate that any `%` character is followed by two hex digits. I think this results in a regex that would be slow to execute (though I guess it is on me to benchmark this), and I've already been feeling pressure from some folks about the performance of using regex at all in the indigo implementation. The current spec text was written in a sort of weird way explicitly to make the regex easy to write.

Totally agree with disallowing percent encoding because normalization is hard, and encoding varies depending on where the did might appear, and if you're silly enough to base authz on a DID ...

For `.local`, I believe you mean `.localhost`. `.local` is reserved for mDNS and linklocal, and the IETF has been trying to stop people using `.local` for anything other than that for years